{
  "presets": [
    ["@babel/preset-env", {
      "modules":     "cjs",
      "useBuiltIns": "usage",
      "corejs": "3.22"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "add-module-exports"
  ]
}